/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}


/**
 * Basic styling
 */
body {
    font-family: $theme-font;
    background-color: $theme-background;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    min-height: 100vh;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: 10px / 2;
    color: $theme-secondary;
}

h1 {
    font-size: 64px;
}

p {
    font-family: sans-serif;
}


/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
    // background: $theme-primary;
    max-height: 75px;
}


/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: 12px;
}


/**
 * Lists
 */
ul, ol {
    margin-left: 10px;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}


/**
 * Links
 */
a {
    color: $theme-primary;
    text-decoration: none;

    &:visited {
        color: darken($theme-primary, 15%);
    }

    &:hover {
        color: $theme-secondary;
    }
}


/**
 * Blockquotes
 */
blockquote {
    color: #000;
    border-left: 4px solid #000;
    padding-left: 10px / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}


/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid #000;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}


/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}


/**
 * Icons
 */
svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
        fill: #000;
    }
}

table {
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    word-break: break-all;
    opacity: 0.6;
    width: 100%;

    th {
        color: $theme-background;
        background-color: $theme-primary;
        padding: 10px;
        font-size: 3vh;
    }

    td {
        color: $theme-secondary;
        background-color: $theme-background;
        padding: 10px;
        font-size: 2vh;
    }
}

