navbar
  position: fixed
  top: 0%
  left: 50%
  transform: translate(-50%, 0%)
  max-height: 5vh
  z-index: 10
  width: 100%
  padding-top: 5px

  .navbar-title
    text-align: center
    color: $theme-tertiary
    font-size: 5vh
    max-width: 100%
    
    &:hover
      color: $theme-primary

.margin
  margin: 5vh auto